# ruff: noqa

_RM__import("sys").stdout = _RM__buffer_original
_RM__prerun_lines = _RM__prerun_buffer.getvalue().splitlines()
del _RM__prerun_buffer

_RM__timer_start = _RM__import("time").perf_counter()

_RM__attempt_buffer = _RM__import("io").StringIO()
_RM__import("sys").stdout = _RM__attempt_buffer
