# ruff: noqa: F821
print("--- BEGIN JSON RESPONSE ---")
print(__import__("json").dumps({
    "stdout": rozelle.stdout,
    "tokens": list(rozelle.tokens),
    "attempt_time_seconds": _RZ_MANGLE__attempt_execution_time
}))
print("--- END JSON RESPONSE ---")
